html,
body {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
}
a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 8%;
}

header a {
  font-size: 1.3rem;
  color: black;
  text-shadow: 2px 2px 4px rgb(158, 179, 250);
}

header a:hover {
  color: brown;
}

.logo {
  width: 50%;
  text-align: center;
}
.lang {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

main {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#disqus_thread {
  width: 70%;
  margin-bottom: 1rem;
}

.description {
  text-align: center;
  font-size: 1.1rem;
}
.btn {
  width: 20%;
  height: 5%;
  background-color: white;
  border-radius: 5px;
  font-size: 1.1rem;
  margin-top: 2rem;
  color: black;
  text-shadow: 2px 2px 4px rgb(158, 179, 250);
}
canvas {
  margin-top: 1rem;
}

#label-container {
  font-size: 1.5rem;
  margin: 1rem 0;
}
.squat {
  width: 50%;
  height: 100%;
}

.at-share-btn-elements {
  display: flex;
  justify-content: center;
}

.info {
  width: 70%;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.info div {
  color: black;
  text-shadow: 2px 2px 4px rgb(158, 179, 250);
}

/* ad */

.coupang {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  margin: 1rem 0;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .logo,
  .lang a,
  .description,
  .btn {
    font-size: 1rem;
  }
  .squat {
    width: 90%;
  }
  .info {
    width: 100%;
    font-size: 1rem;
  }
  .item1,
  .item4,
  .item5 {
    width: 0;
  }
  .item2,
  .item3 {
    width: 50%;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .logo,
  .lang a,
  .description,
  .btn {
    font-size: 0.8rem;
  }
  .btn {
    width: 40%;
    height: 7%;
  }
  .squat {
    width: 90%;
  }
  .info {
    width: 100%;
    font-size: 0.8rem;
  }
  .email {
    font-size: 0;
  }
  .item1,
  .item4,
  .item5 {
    width: 0;
  }
  .item2,
  .item3 {
    width: 50%;
  }
}
@media (min-width: 320px) and (max-width: 374px) {
  .logo,
  .lang a,
  .description,
  .btn {
    font-size: 0.4rem;
  }
  .btn {
    width: 40%;
    height: 7%;
  }
  .squat {
    width: 90%;
  }
  .info {
    width: 100%;
    font-size: 0.4rem;
  }
  .email {
    font-size: 0;
  }
  .item1,
  .item4,
  .item5 {
    width: 0;
  }
  .item2,
  .item3 {
    width: 50%;
  }
}
